<div class="containar">
	<div class="row">

		<div class="col-xs-3">
<%= render 'users/list', user: @user, book: @book %>
		</div>
		<div class="col-xs-9">
<h1>Book detail</h1>

<table class="table table-hover table-inverse">

	<tr>

		<td>
			<%= attachment_image_tag @book2.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: " profile-img", fallback: "no_image.jpg",size: "40x40" %>

			<%= link_to user_path(@book2.user.id) do %>
			<br><%= @book2.user.name %>
			<% end %>
		</td>
		<td><%= @book2.title %></td>
		<td><%= @book2.body %></td>
		<td><% if @book2.favorited_by?(current_user) %>
					<td class="heart">
						<%= link_to book_favorites_path(@book2.id), method: :delete do %>
						<i class="fas fa-heart" style="color: red;"></i>
						<%= @book2.favorites.count %>
						<% end %>
					</td>
				<% else %>
					<td class="heart">
						<%= link_to book_favorites_path(@book2.id), method: :post do %>
						<i class="far fa-heart"></i>
						<%= @book2.favorites.count %>
						<% end %>
		</td>
			<% end %>
			<td>コメント: <%= @book2.book_comments.count %></td>

		<% if @book2.user == current_user %>
		<td>
			<%= link_to"Edit", edit_book_path(@book2.id),class: "btn btn-success" %>
		</td>
		<td>
			<%= link_to"Destroy",book_path(@book2.id),method: :delete,class: "btn btn-danger" %>
		</td>
		<% end %>
	</tr>
</table>

			<% @book2.book_comments.each do |book_comment| %>
				<div>
					<%= book_comment.comment %>
				<% if book_comment.user == current_user %>
					<%= link_to"Destroy",book_book_comments_path(book_comment), method: :delete,class: "btn btn-danger" %>
				<% end %>
			</div>
			<% end %>

		<%= form_for [@book2, @book_comment] do |f| %>
			<%= f.text_area :comment, class: "col-xs-12" %>
		<%= f.submit "送信" %>
		<% end %>

		</div>
	</div>
</div>